fastapi==0.136.1
uvicorn==0.47.0

SQLAlchemy==2.0.49
PyMySQL==1.2.0

passlib==1.7.4
bcrypt==4.0.1
python-jose==3.5.0

python-multipart==0.0.30
email-validator==2.3.0
python-dotenv==1.2.2

Jinja2==3.1.6
reportlab
PyMySQL==1.2.0
fastapi-mail==1.4.1